[submodule "src/server/http-parser"]
	path = src/server/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "externals/sanitizers-cmake"]
	path = externals/sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake.git
